<div data-ng-controller="Shell as vm">
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                Angular-Starter
            </div>
        </div>
    </div>

    <div data-ng-include="'layout/topnav.html'"></div>

    <div class="container">
        <div class="page-header">
            <h1>Angular-Starter</h1>
        </div>
        <p class="lead">A simple AngularJS starter template.</p>
    </section>
</div>